# API Keys
GROQ_API_KEY = <Your Groq API key here>
HF_TOKEN = <Your own HuggingFace token here>

# Model Configuration
HF_REPO_NAME = lducc/MediVoice
LOCAL_DIR = ./model-ct2

# CTranslate2 compute type: int8 (CPU), float16 (GPU), int8_float16, auto
COMPUTE_TYPE = int8_float16

# CORS
CORS_ORIGINS = *
