# API Keys
OPENAI_API_KEY = <Your own OpenAI API key here>
HF_TOKEN = <Your own HuggingFace token here>

# Model Configuration
HF_REPO_NAME = lducc/MediVoice
LOCAL_DIR = ./model

# CORS
CORS_ORIGINS = *
